/nb-configuration.xml
/martin-application/nb-configuration.xml
/martin-platform/nb-configuration.xml
/martin-application/src/main/resources/static/admin/nbproject/private/
/martin-application/src/main/resources/static/admin/nbproject/
/martin-application/nbactions.xml
/martin-application/src/main/resources/static/crm/nbproject/private/
/martin-application/src/main/resources/static/crm/nbproject/
/martin-module-crm/nb-configuration.xml
/martin-module-crm/target/
/docker/docker-compose.yml
/docker/application.yml
/docker/config/
/martin-application/src/main/resources/application.yml
/target/